* {
  box-sizing: border-box;
  font-family: 'Jua', sans-serif;
}

body {
  position: relative;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  z-index: 1;
  background-color: #f8f9fa;
}