#qna {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.qna-content {
  background-color: rgba(168, 200, 214, 0.911);
  border-radius: 20px;
}

.qna-content h1 {
  font-size: 1.5rem;
}

.qna-content p {
  font-size: 1.2rem;
}